<div class="section" id="About">
  <div class="expandable">
    <div class="head"><div><span id="name">-</span><div class="tags-container">
      <div class="tag"><span id="sector">-</span></div>
      <div class="tag"><span id="industry">-</span></div>
      <div class="tag"><link-value id="website" class="link"></link-value></div>
      <div class="tag"><map-value id="address" class="link"></map-value></div>
      <div class="tag">Employees: <span id="employees">-</span></div>
    </div></div><ion-icon id="about-button" class="button" name="chevron-down-outline"></ion-icon></div>
    <div class="content" id="about-content">
      <p id="longBusinessSummary">-</p>
      <!--
      <div id="company-details">
        <ul class="clear">
          <li>Website: <link-value id="website" class="link"></link-value></li>
          <li>Industry: <span id="industry">-</span></li>
          <li>Sector: <span id="sector">-</span></li>
          <li>Address: <map-value id="address" class="link"></map-value></li>
          <li>Employees: <span id="employees">-</span></li>
        </ul>
      </div>
      -->
    </div>
    
  </div>
  <popup-info data-title="Meaning" data-icon="business-outline" data-info="{% include 'txt/meaning_tooltip.txt' %}" ><span class="title">About section</span><ion-icon name="help-circle-outline"></ion-icon></popup-info>
</div>

<script>

  const button = document.querySelector("#about-button");

  button.addEventListener("click", (event) => {
    document.querySelector("#about-content").classList.toggle("show");
  });

</script>