<header>
    <div id="header-placeholder" style="width: 4.75rem; margin-inline: 1rem;">
    </div>
    <div id="header-controls">
        <button id="scheme-cycler" aria-label="Change color scheme" title="Change color scheme" class="ionic"><ion-icon name="moon-outline" aria-hiden="true"></ion-icon></button>
        <button id="notifications-shower" aria-label="Show notifications" title="Show notifications" class="ionic"><ion-icon name="notifications-outline" aria-hidden="true"></ion-icon></button>
    </div>
</header>
