<div id="moat" class="section">
    <h2>Moat</h2>
    <h3>ROIC (%)</h3>
    <div class="flex">
        <custom-value id="roic-3" data-name="Max"></custom-value>
        <custom-value id="roic-2" data-name="5 Years"></custom-value>
        <custom-value id="roic-1" data-name="3 Years"></custom-value>
        <custom-value id="roic-0" data-name="1 Year"></custom-value>
    </div>

    <h3>Equity/BVPS Growth Rate (%)</h3>
    <div class="flex">
        <custom-value id="equity-3" data-name="Max"></custom-value>
        <custom-value id="equity-2" data-name="5 Years"></custom-value>
        <custom-value id="equity-1" data-name="3 Years"></custom-value>
        <custom-value id="equity-0" data-name="1 Year"></custom-value>
    </div>

    <h3>EPS Growth Rate (%)</h3>
    <div class="flex">
        <custom-value id="eps-3" data-name="Max"></custom-value>
        <custom-value id="eps-2" data-name="5 Years"></custom-value>
        <custom-value id="eps-1" data-name="3 Years"></custom-value>
        <custom-value id="eps-0" data-name="1 Year"></custom-value>
    </div>

    <h3>Sales/Revenue Growth Rate (%)</h3>
    <div class="flex">
        <custom-value id="sales-3" data-name="Max"></custom-value>
        <custom-value id="sales-2" data-name="5 Years"></custom-value>
        <custom-value id="sales-1" data-name="3 Years"></custom-value>
        <custom-value id="sales-0" data-name="1 Year"></custom-value>
    </div>

    <h3>Free Cash Flow Growth Rate (%)</h3>
    <div class="flex">
        <custom-value id="cash-3" data-name="Max"></custom-value>
        <custom-value id="cash-2" data-name="5 Years"></custom-value>
        <custom-value id="cash-1" data-name="3 Years"></custom-value>
        <custom-value id="cash-0" data-name="1 Year"></custom-value>
    </div>
</div>