<header>
  <form id="searchbox" name="searchbox" action="/search" method="post">
    <input
        type="text"
        is="input-search"
        id="ticker"
        placeholder="Ticker Symbol"
        title="Insert ticker Symbol"
        maxlength=5/>
    <button
        type="submit"
        title="Analyze"><ion-icon name="arrow-forward-outline"></ion-icon></button>
  </form>
</header>
<div class="header-placeholder"></div>
<script>
/*document.querySelector("#ticker").addEventListener("keypress", (event) => {
  let key = event.key;
  if (!key.match(/[A-Za-z,.\-]/)) {
      event.preventDefault();
    }
});*/
</script>
<style>
  {% include "css/styles.css" %}
</style>
<script>
  {% include "js/search.js" %}
</script>

<script>
    class SearchInput extends HTMLInputElement {
        constructor(...args) {
            super(...args);

            this.addEventListener("focusin", this.focusin );
            this.addEventListener("focusout", this.focusout );
            this.addEventListener("keydown", (event) => { this.keydown(event); });
        }

        focusin(event) {

        }

        focusout(event) {

        }

        keydown(event) {
            let key = event.key;
            if (!key.match(/[A-Za-z,.\-]/)) {
                event.preventDefault();
            }
        }

    }

    customElements.define("input-search", SearchInput, { extends: 'input', });

</script>